<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>PDF Fusion Hub</title>
</head>

<body>
    <header>
        <nav>
            <a href="/" title="Go to Home">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="PDF-Fusion-Hub" title="Home">
            </a>
        </nav>
    </header>
    <h1>MERGE PDF HERE!!</h1>

    <form action="/add" method="post" enctype="multipart/form-data" onsubmit="return validateFiles()">
        <input type="file" name="pdf_files" accept=".pdf, application/pdf" multiple required>
        <button type="submit">Merge PDFs</button>
        <div id="fileValidationMessage" style="color: red;"></div>
    </form>

    <script>
        function validateFiles() {
            var input = document.querySelector('input[name="pdf_files"]');
            var maxSize = 1048576; // 1 MB in bytes

            // Check the number of selected files
            if (input.files.length < 2) {
                displayError('Please select at least two files for merging.');
                return false;
            }


            // Check the size of the first file
            for (var i = 0; i < input.files.length; i++) {
                if (input.files[i].size > maxSize) {
                    displayError('File No. ' + (i + 1) + ' size exceeds the limit. Please upload a smaller file.');
                    return false;
                }
            }

            // Clear any previous error message
            clearError();
            return true;
        }

        function displayError(message) {
            var errorMessageElement = document.getElementById('fileValidationMessage');
            errorMessageElement.textContent = message;
        }

        function clearError() {
            var errorMessageElement = document.getElementById('fileValidationMessage');
            errorMessageElement.textContent = '';
        }
    </script>



    {% if download_link %}
    <a class="button" href="{{ download_link }}" download>Download Merged PDF</a>
    {% endif %}
    <footer>
        <p>&copy; 2024 All rights reserved.</p>
    </footer>
</body>

</html>