<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="static/fonts/fontawesome-all.min.css?h=28fcdefe8a87593f1f43b7d9951e0cba">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css?h=28fcdefe8a87593f1f43b7d9951e0cba">
    <link rel="stylesheet" href="static/fonts/ionicons.min.css?h=28fcdefe8a87593f1f43b7d9951e0cba">
    <link rel="stylesheet" href="static/fonts/fontawesome5-overrides.min.css?h=28fcdefe8a87593f1f43b7d9951e0cba">
    <title>PDF Fusion Hub</title>
</head>

<body>
    <header>
        <nav>
            <a href="/" title="Go to Home">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="PDF-Fusion-Hub" title="Home">
            </a>
        </nav>
    </header>
    <h1>SPLIT PDF HERE!!</h1>
    <h2> Select Only One PDF </h2>

    <form action="/break" method="post" enctype="multipart/form-data" onsubmit="return validateFiles()">
        <input type="file" name="pdf_file" accept=".pdf, application/pdf" required>
        <label for="ranges">Enter page ranges (comma-separated):</label>
        <h3> eg.- 1-2,3,4-5</h3>
        <!-- <input type="number" name = "upper" required>
        <input type = "number" name = "lower" required> -->
        <input type="text" name="ranges" id="ranges" required placeholder="enter ranges">
        <button type="submit" style="margin: 20px;">
            <img src="{{ url_for('static', filename='img/split_icon.png') }}" width="30" height="30"> 
            SPLIT PDF
        </button>
        <div id="fileValidationMessage" style="color: red;"></div>
    </form>

    <script>
        function validateFiles() {
            var input = document.querySelector('input[name="pdf_files"]');
            var maxSize = 10485760; // 10 MB in bytes

            // Check the number of selected files
            if (input.files.length < 1) {
                displayError('Please select a file for splitting.');
                return false;
            }


            // Clear any previous error message
            clearError();
            return true;
        }

        function displayError(message) {
            var errorMessageElement = document.getElementById('fileValidationMessage');
            errorMessageElement.textContent = message;
        }

        function clearError() {
            var errorMessageElement = document.getElementById('fileValidationMessage');
            errorMessageElement.textContent = '';
        }
    </script>



    {% if download_link %}
    <div>
    <a class="button" style="margin: 20px; width: 200px; position: justify;" href="{{ download_link }}" download>Download SPLIT PDF</a>
    </div>
    {% endif %}


    <section style="margin-top: 45vh;">
        <div class="container">
          <footer>
            <div class="social">

              <a href="https://github.com/its-me-navee/PDF-Merger">
                <i class="icon ion-social-github" style="color: black;font-size: 40px;"></i>
              </a>
              <a href="mailto:you@navee4501@gmail.com">
                <i class="fa fa-envelope-o" style="color: black;font-size: 40px;"></i>
              </a>
            </div>
            <p style="font-family:'Times New Roman', Times, serif;text-align: center;">Developed by Sameer & Navneet</p>
          </footer>
        </div>
      </section>

</body>

</html>